.update_password_container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fefefe;
}

.update_password_title {
  text-align: center;
  margin-bottom: 20px;
}

.update_password_form {
  display: flex;
  flex-direction: column;
}

.update_password_input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.update_password_button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update_password_button:hover {
  background-color: #45a049;
}
